@model CatalogView

<h1>Moderator</h1>

<div style="margin: 20px auto">
    <a class="btn btn-primary" asp-controller="Moderator" asp-action="ShowCountry">Country</a>
    <a class="btn btn-primary" asp-controller="Moderator" asp-action="ShowGenre">Genre</a>
</div>

<br />


@await Html.PartialAsync("_FilterVideo", Model)

@await Html.PartialAsync("_ShowTableVideo", Model)
