@model VideoView

<h1>Add video</h1>

<div style="margin: 0px auto; display:table">
    <form method="post" asp-antiforgery="true" asp-controller="Home" asp-action="AddVideo">
        <table>

            @await Html.PartialAsync("_TableViewFilms", Model)

        </table>
        <div class="my_button" style="margin:30px; text-align:center">
            <button class="btn btn-primary" type="submit"> Save </button>
        </div>

    </form>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}