@using Microsoft.AspNetCore.Identity
@inject SignInManager<SiteFilms.Data.Person> SignInManager
@model VideoView

<table width="100%">
    <tr>
        <td>
            <h1>Edit video</h1>
        </td>
        <td style="text-align: right">
            <form method="post" asp-antiforgery="true" asp-controller="Home" asp-action="DeleteVideo">
                @Html.HiddenFor(x => x.Video.Id)
                <div class="my_button">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </div>
            </form>
        </td>
    </tr>
</table>

<br/>

<div style="margin: 0px auto; display:table">
    <form method="post" asp-antiforgery="true" asp-controller="Home" asp-action="EditVideo">
        <table>
            @Html.HiddenFor(x => x.Video.Id)

            @await Html.PartialAsync("_TableViewFilms", Model)

            @if (User.IsInRole("moderator") || User.IsInRole("admin"))
            {
                <tr>
                    <td>@Html.LabelFor(x => x.Video.FlagCheck)</td>
                    <td>
                        @Html.CheckBoxFor(x => x.Video.FlagCheck, new { @class = "form-check-input" })
                    </td>
                </tr>
            }
        </table>
        <div class="my_button" style="margin:30px; text-align:center">
            <button class="btn btn-primary" type="submit"> Save </button>
        </div>
    </form>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}